.svg-images {
  width: 50px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  border-top: 1.4rem solid rgb(22, 116, 203);

  border-bottom: 0.5rem solid rgb(115, 4, 184);
}
header {
  display: flex;
  justify-content: space-between;
}

main {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer {
  border-top: 0.2rem solid #e2e2e2;
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 0;
}

.customer {
  line-height: 1 rem;
}

.name {
  font-size: 1rem;
  font-weight: bolder;
}

span {
  color: rgb(252, 115, 29);
  font-weight: bolder;
}

.para {
  font-size: 1.5rem;
  margin: 0 auto;
}

footer h4 {
  margin: 1.5rem auto;
  font-size: 1rem;
}

.contact {
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
  color: black;
}
.phone {
  margin-right: 5px;
}
.mail {
  margin-right: 5px;
}

.why {
  margin: 30px auto;
}
.terms {
  font-size: 0.8rem;
}
.why span {
  color: rgb(0, 187, 255);
}

.modelNo {
  text-align: right;
}

header h2 {
  font-size: 1.5rem;
}
.car-details {
  margin-bottom: 0;
}

.date {
  margin-bottom: 4rem;
}
.receipt {
  margin-bottom: 0;
}

.car {
  margin-top: 7rem;
}
